@page
@model IdentityService.Pages.Account.AccessDeniedModel
@{
}
<div class="row">
    <div class="col">
        <h1>Доступ запрещен</h1>
        <p>У вас нет прав доступа к этому ресурсу.</p>
    </div>
</div>